# Time Series Analysis Exercise

## Imports

In [1]:
import wrangle as w
import numpy as np
import pandas as pd

#viz
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#for presentation purposes
import warnings
warnings.filterwarnings("ignore")

#working with dates
from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt 

#evaluated performance using rmse
import statsmodels.api as sm

#holts linear trend model
from statsmodels.tsa.api import Holt

## Acquire

In [2]:
#acquire data from wrangle
df = w.get_satx()

In [3]:
#take a peek at the first few rows of data
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
6618616,1820-01-01,7.169,3.676,San Antonio,United States,29.74N,97.85W
6618617,1820-02-01,11.448,2.964,San Antonio,United States,29.74N,97.85W
6618618,1820-03-01,15.003,2.413,San Antonio,United States,29.74N,97.85W
6618619,1820-04-01,21.022,2.136,San Antonio,United States,29.74N,97.85W
6618620,1820-05-01,23.938,1.923,San Antonio,United States,29.74N,97.85W

In [5]:
#check out the shape of the data
df.shape

(2325, 7)

In [6]:
#summary of columns and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2325 entries, 6618616 to 6620940
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   dt                             2325 non-null   object
 1   AverageTemperature             2316 non-null   float64
 2   AverageTemperatureUncertainty  2316 non-null   float64
 3   City                           2325 non-null   object
 4   Country                        2325 non-null   object
 5   Latitude                       2325 non-null   object
 6   Longitude                      2325 non-null   object
dtypes: float64(2), object(5)
memory usage: 145.3+ KB

In [8]:
#summary statistics
df.describe()

       AverageTemperature  AverageTemperatureUncertainty
count         2316.000000                    2316.000000
mean            19.980095                       0.812963
std              6.870505                       0.810973
min              4.023000                       0.061000
25%             13.748250                       0.262000
50%             20.305500                       0.399000
75%             26.686000                       1.240000
max             32.166000                       5.063000

## Prepare

#### Prepare summary:
The following steps are used in this function to clean and prepare the dataframe:
- Reassign the dt object type column to be a datetime type
- Sort rows by the date and then set the index as that date
- make new columns for month and weekday
- rename column names
- fill nulls
- convert celsius to fareheit

In [9]:
#clean and prep data
df = w.wrangle_satx()

In [10]:
#ensure all functions worked as described
df.head()

,avg_temp,avg_temp_uncertainty,city,country,latitude,longitude,month,weekday
dt,,,,,,,,
1820-01-01,44.9042,3.676,San Antonio,United States,29.74N,97.85W,1,Saturday
1820-02-01,52.6064,2.964,San Antonio,United States,29.74N,97.85W,2,Tuesday
1820-03-01,59.0054,2.413,San Antonio,United States,29.74N,97.85W,3,Wednesday
1820-04-01,69.8396,2.136,San Antonio,United States,29.74N,97.85W,4,Saturday
1820-05-01,75.0884,1.923,San Antonio,United States,29.74N,97.85W,5,Monday

## Explore

## Model

## Conclusion